@charset"utf-8";
div{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom:  5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
background-color: navajowhite;
    min-height: 700px;
    }
body{
        margin:auto;
        width: 900px;
        font: 100%/1.4 helvetica,arial,sans-serif;
    }
    eader{
       
        padding: 20px;
    }
    nav{
        float:left;
        width:900px;
        height: 50px;
       
        line-height: 50px;
    }
    nav a{
        display: block;
        float: left;
        padding: 5px 10px;
    }
    ection{
        float:left;
        width: 660px;
        height: 260px;
       
        
    }
    footer{
        clear:both;
        text-align: center;
        padding: 20px;
        height:1%;
    }